body {
	background-image: url(http://rewalls.com/pic/201012/1920x1080/reWalls.com-13499.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0px;
}
.sign {
	background-color: #dfdfdf;
	border-style: solid;
	border-width: 2px;
	border-color: #aaa;
	-webkit-border-radius: 5px;
	width: 275px;
	padding: 5px;
	font-family: 'Lora', serif;
	position: absolute;
}
.title {
	font-size: 38px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: 'Pacifico', cursive;
	letter-spacing: 1px;
	word-spacing: 10px;
	text-align: center;
}
.title-ru {
	font-size: 38px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: 'Marck Script', cursive;
	word-spacing: 10px;
	text-align: center;
	text-shadow: 0 0 5px #555;
}
.input-elements {
	text-align: center;
}
.input-elements p {
	margin: 5px;
	font-family: inherit;
	font-weight: 100;
	color: #000;
	letter-spacing: 0px;
}
.input {
	width: 250px;
	padding: 5px;
	font-size: 16px;
	margin: 5px;
	font-family: 'Lora', serif;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	text-align: center;
	letter-spacing: 1px;
	outline: none;
	
	transition-duration: 1s;
	transition-property: all;
}
.input:focus {
	border-style: solid;
	border-width: 1px;
	border-color: #00F;
}
.button {
	border-color: #aaf;
	margin-top: 15px;
	width: 100px;
	background: -webkit-linear-gradient(left, #aaf, #afa);
	cursor: pointer;
	
	transition-duration: 100ms;
	transition-property: all;
}
.button:active {
	background: -webkit-linear-gradient(left, #afa, #aaf);
	border-color: #afa;
}

.content {
	background: -webkit-radial-gradient(rgba(31,26,178, 0.5), rgba(255,73,0, 0.5));
	width: 980px;
	min-height: 2500px;
	margin: 0 auto;
	box-shadow: inset 0 0 150px  #1A2142,
					0 0 150px  #fff;
	padding: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: 'Lora', serif;
}
.personal-info {
	width: 400px;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.7);
	position: fixed;
}
.personal-info-sub {
	padding: 5px;
	padding-left: 15px;
	color: #8480FF;
	font-weight: 600;
	letter-spacing:1px;
}
.personal-info-sub p {
	margin: 5px;
	font-family: inherit;
	font-weight: 100;
	color: #fff;
	letter-spacing: 0px;
}
.user-books {
	margin-left: 401px;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 5px;
	font-family: inherit;
}

.list-of-books {
	width: 100%;
	font-family: inherit;
	border-style: solid;
	border-width: 1px;
	border-color: #aaa;
	border-spacing: 0px;
}
.list-of-books td {
	padding: 5px;
}
.list-of-books th {
	padding: 5px;
}
.list-of-books thead {
	text-align: center;
	color: #8480FF;
	font-weight: 600;
}
.list-of-books thead th {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: inherit;
}
.list-of-books tr td {
	border-left-style: solid;
	border-left-color: inherit;
	border-left-width: 1px;
}

.list-of-books tr th {
	border-left-style: solid;
	border-left-color: inherit;
	border-left-width: 1px;
}
.list-of-books tr td .input {
	margin: 5px;
}
.list-of-books tr td:first-child {
	border-right-style: solid;
	border-right-color: inherit;
	border-right-width: 0px;	
	border-left-style: solid;
	border-left-color: inherit;
	border-left-width: 0px;
}

.list-of-books tr th:first-child {
	border-right-style: solid;
	border-right-color: inherit;
	border-right-width: 0px;	
	border-left-style: solid;
	border-left-color: inherit;
	border-left-width: 0px;
}
.list-of-books tr td:last-child {
	text-align: center;
}
.list-of-books tbody tr {
	transition-duration: 250ms;
	transition-property: all;
}
.list-of-books tbody tr:hover {
	background-color: rgba(55, 55, 55 , 0.7);
}

.librarian-books {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 5px;
	font-family: inherit;
}

.take-book {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 100%;
	color: rgba(0, 179, 255, 1);
	display: table;
	background-color: rgba(255, 16, 75, 0);
	
	transition-duration: 500ms;
	transition-property: all;
}
.take-book:hover {
	background-color:rgba(75, 16, 255, 0.25);
}
.take-book:hover div {
	visibility: visible;
}
.take-book div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	visibility: hidden;
	background-image: url(http://www.iconsearch.ru/uploads/icons/prettyoffice/128x128/add1-.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 50px;
}

#auth {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(41,188,116, 0.5);
	display: none;
}